body{
    margin: 0;
    padding: 0;
}
nav{
    background-color: crimson;
    width: 100%;
    height: 100px;
    border: 1px solid black;
    align-items: center;
    font-size: 12px;
    font-family: tahoma;
    text-decoration: none;
    display: flex;
    justify-content: space-around;
}
nav h2{
    color: white;
    padding: 12px;
    font-size: 20px;
    font-family: Tahoma;
}
nav h2 span{
    color: gold;
}
nav ul{
    display: flex;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color: white;
    padding: 12px;
    font-size: 18px;
    font-family: tahoma;
}
nav ul li a:hover{
    color: black;
    font-weight: bolder;
    border-bottom: 1px solid black;
}
section{
    height: 600px;
    width: 100%;
    border: 2px solid black;
    background-image: url(images/background\ png.jpg);
    background-size: cover;
    color: white;
    background-attachment: fixed;
    list-style: none;
    text-decoration: none;
    padding: 12px;
    font-size: 20px;
    font-family: times new roman;
    position: relative;
}
section img{
    position: absolute;
    margin-left: 850px;
    margin-right: 0;
}
